.nav div{
        font-size: 0.55rem;
    margin: 0px; 
    }
    .nav{
        width: 412px;
margin-left:10px ;
    }
    #Home{
        margin-left: 0px
    }
    .nav button{
        font-size: 0.55rem;
        width: 100px;
    }
    .img{
        margin-left: 780px;
        width: 30px;
    padding: 8px; 
    }
    #Home{
        margin-left: 50px;
    }
    #grab{
        width: 150px;
    }
    .Charity{
        font-size: 12px;
        width: auto;
    }
    .presale p{
        width: 300px;
        margin-left: -20px;
    }
    .whitelist p{
        width: 300px;
        margin-left: -20px;
    }
    .mintsale p{
        width: 300px;
        margin-left: -20px;
    }
    #nft2{
        width: 300px;
        margin-left: -20px;
    }
    .view p{
        width: 300px;
        margin-left: -20px;
    }
    .transparent{
        margin: 2px;
    }
    .des{
        width: auto;
        font-size: 12.5px;
    }
    .im{
        margin-left: -50%;
    }
    .Roadmap img{
        justify-content: center;
        margin: 0px;
        width: 460px;
    }
    .op{
        width: 90px;
        margin-left: 110px;
    }
    .op3{
        width: 90px;
        margin-left: 160px;
    }
    .sop{
        width: 90px;
        margin-left: 110px;
        margin-top: -30px;
    }
    .para{
        width: auto;
    }
    #im2{
        margin-left: -10px;
    }
    .mintsale{
        margin-left: -6%;
    }
    .view3{
        margin-left: 25%;
    }
    .midhalf{
        width: 90px;
        margin-left: 160px;
        margin-top: 10px;
    }
    .full{
        width: 90px;
        margin-left: 140px;
        margin-top: -30px;
    }   
    #grab{
        width: 120px;
        margin-left: 200px;
    height: 120px;
    }
    .grab{
        width: 150px;
        margin-left: 202px;
    }
    .Grab{
        width:300px;
       }
       #fullgrab{
        width: 378px;
        margin-left: -30px;
       }
#im2{
    width: 200px;
}
.di1 img{
    margin: 0px;
    gap: 0px;
}
#im3{
    margin-left: -80px;
}
#im1{
    margin-left: 0px;
}
#im2{
    margin-left: -40px;
}
.footer h1{
    font-size: 12px;
}
.t1{
    margin-top: 10px;
    max-width: 90px;
margin: 3px;
}
#t{
    margin-left: -90px;
}
#nft{
    font-size: 14px;
    margin-left: -180px;

}
.mintsale h1{
    font-size: 14px;
    margin-left: -20px;}
.whitelist h1{
    font-size: 14px;
    margin-left: -20px;}
    .presale h1{
        font-size: 14px;
        margin-left: 120px;
    }    
    .presale p{ 
    margin-left: 120px;
    }
    .view h1{
        font-size: 14px;
        margin-left: -250px;
    }
    .frequently h1{
        font-size: 15px;
    }
    .di2 h1{
font-size: 30px;
margin: auto;
margin-left: 62px;    
}
.view{
    margin-left: 100px;
}
.presale{
    margin-left: -47px;
}
.whitelist{
    margin-left: -40px;
}
.How{
    margin-left: -50px;
}
#im2{
    margin-top: -44px;
    position: relative;
}
.di{
    margin-top: -90px;
}
.ch{
    width: 300px;
}
.ch1 p{
    width: 250px;
    margin-bottom: 10px;
    margin-left:19px     ;
}
.ch1 h1{
    margin-left: 16px;
}
.ch1 a{
    margin-left: 12px;
    margin-top: 10px;
}
.ch2 h1{
margin-left: 20px;
}
.ch3 h1{
    margin-left: 20px;
}
.png{
    width: 300px;
    margin-left: 62px;
}
.ch3 img{
    margin-left: 15px;
}
.ch2 img{
    margin-left: 15px;
}
#cj{
    margin-left: 11px;
}

.ch4    h1{
    margin-left: -220px;} 
    .midhalf{
        margin-top: -60px;
    }
    .ch5 img{
        margin-left: 61px;
    }
    .transparent{
        width: 200px;
    }
