.all{
            width: 778px;
        }
        .story{
            width: 778px;    
        }
        .des{
            font-size: 16px;
        }
        .img1{
            display: inline-block;
        }
        .img{
            margin-left: 534px;
            width: 80px;
        }
        .charityimage{
            display: inline-block;
        }
        .charityimg{
            display: block;
        }
        .di{
            width:auto ;
        }
        .view1{
            display: block;
        }
        .view2{
            display: block;
        }
        .nav{
            margin-left: 120px;
        }
        .nav div{
            font-size: 13px;
        }
        .nav button{
            font-size: 13px;
            width: 80px;
        }
        .im{
            margin-left: 86%;
            margin-bottom: 10px;
        }
        .Charity{
            font-size: 13px;
        }
        #cj{
            margin-left: 334px;
            max-width: auto; 
        }
        .ch1 p{
            width: 200px;
            margin-left: 374px;
        }
        .ch1 h1{
            margin-left: 377px;
        }
        .ch1 a{
            margin-left: 366px;
            margin-top: 10px;
        }
        .ch2 img{
            margin-left: 336px;
        }
        .ch2 h1{
    margin-left: 352px;}
    .ch3 img{
        margin-left: 336px;}
    .ch3 h1{
        margin-left: 360px;}
#png    {
    margin-left: 174px;
}
.ch4 h1{        margin-left: -103px;}
#ch6{
    margin-left: 175px;}
    .ch5 h1{
        margin-left: 168px;
    }       
    .presale p{
        width: 531px;
    }
    .transparent img{
        width: 130px;
  }
    #t{
        margin-left: -20px;
    }
    .view{
        margin-left: 230px;
    }
    .presale{
        margin-left: 90px;
    }
    .whitelist{
        margin-left: 90px;
    }
    .mintsale{
margin-left: -43px;
    }
    .mintsale p{
width: 521px;
    }
    .mintsale h1{
        margin-left: 50px;
    }
    #im1{
margin-left: 0px;
    }
    #nft2{
        width: 571px;
    }
    .view3{
        margin-left: 220px;
    }
    .t1{
        margin: 25px;
    }
    .op{
        margin-left: 289px;
    }
    .op3{
        margin-left: 289px;
    }
    .sop{
        margin-left: 289px;
    }
    .midhalf{
        margin-left: 289px;
    }
    .full{
        margin-left: 289px;
    }
    .grab{
        margin-left: 318px;
    }
    .grab1{
        margin-top: 220px;
    }
    #grab{
        margin-left: 405px;
    }