
.nav{
    margin-left: 20px;
}
.img{
    margin-left: 760px;
    width: 40px;
    padding: 2px;
}
.nav div{
        font-size: 0.55rem;
        margin: 0;
    }
    #Home{
        margin-left: 6px;
    }
    .story{
        width: 430px;
    }
    .para{
        width: auto;
    }
    .nav button{
        font-size: 0.45rem;
        width: 100px;
        margin-right: 0px;
    }   
    .nav{
        width: 350px;
    }
    .des{
        width: 350px;
        font-size: 13px;
    }
    .im{
        margin-left: 23%;
        max-width: auto;
    }
    .grab1{
        width: 300px;
    }
    .grab{
        margin-left: 204px;
    }
    .road{
width: 400px;
    }
    .all{
        width: 430px;
    }
    .nav div{
        margin: 0;
    }

    .op{
        width: 90px;
        margin-left: 130px;
    }
    .op3{
        width: 90px;
        margin-left: 160px;
    }
    .sop{
        width: 90px;
        margin-left: 130px;
        margin-top: -30px;
    }
    .midhalf{
        width: 90px;
        margin-left: 160px;
        margin-top:-50px;
    }
    .full{
        width: 90px;
        margin-left: 190px;
        margin-top: 2px;
    }  
    .half{
        margin-top: 30px;
    } 
    #grab{
        margin-top: 90px;
    }
    .Grab{
        width:300px;
       }
       #fullgrab{
        width: 400px;
        margin-left: -30px;
       }
.t1{
    width: 170px;
}
#cj{
    margin-left: 68%;
}
.png{
    margin-left: 70%;
}

.ch1 h1{
    margin-left: 221px;
}
.ch1 p{
    margin-left: 220px;

}
.ch1 a{
    margin-left: 210px;
}
#t{
    margin-left: -60px;
}
.ch2 img{
    margin-left: 70%;
}
.ch2 h1{
    margin-left: 220px;
}
.ch3 img{
    margin-left: 70%;
}
.ch3 h1{
    margin-left: 223px;
}
.ch4 img{
    margin-left: 69px;
}
.ch4 h1{
    margin-left: -220px;
}
#png{
    margin-left: 57px;
}
#ch6{
    margin-left: 61px;
}
.ch5 h1{
    margin-left: 58px;
}
.view{
    margin-left:100px ;
}
.presale{
    margin-left: -47px;
}
.presale p{
    width: 300px;
}
.whitelist{
    margin-left: -40px;
}
.mintsale{
    margin-left: -9%;
}
.view3{
    margin-left: 22%;
}
.t1{
    margin: 4px;
}
.di2 h1{
    margin-left: 61px;
}
#nft2{
    width: 328px;
}
.mintsale p{
    width: 300px;
}
.mintsale h1{
    margin-left: -21px;
}